
<div class="sidebar">
    
    <ul>
     
    </ul>
  </div>
<style>
    .sidebar {
      position: fixed;
      top: 100px;
      right: 20px;
      width: 200px;
      padding: 0rem 1rem;
      color: #f9f9f9;
      border: 1px solid #ddd;
      border-radius: 8px;
    }
    .sidebar a {
      display: block;
      margin-bottom: 0.5rem;
      text-decoration: none;
      color: #333;
    }
    .sidebar a:hover {
      color: #007acc;
    }
    @media (max-width: 768px) {
      .sidebar {
        position: relative;
        width: 100%;
        top: auto;
        left: auto;
        border: none;
      }
    }
    </style>
    